@model TestBlog.ViewModels.postDishOut
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
<!-- xxx Widet Box xxx -->

<div class="widgets-box">
    <div class="sidebar-head"><span> @ViewBag.FormTitle</span></div>
    <div class="sidebar-text">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <p>Email</p>
                <input asp-for="@Model.LogInViewModel.Email" class="form-control" />
                <span asp-validation-for="@Model.LogInViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>PassWord</p>
                <input asp-for="@Model.LogInViewModel.Password" class="form-control" />
                <span asp-validation-for="@Model.LogInViewModel.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="@Model.LogInViewModel.RemenberMe">
                        <input asp-for="@Model.LogInViewModel.RemenberMe" />
                        @Html.DisplayNameFor(m => m.LogInViewModel.RemenberMe)
                    </label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>

@section RecentPost{
    <div class="widgets-box">
        <div class="sidebar-head bg-2"><span>Recent Posts</span></div>
        <div class="sidebar-text">
            <ul class="sidebar-post">
                @{int count = 1; }
                @foreach (var post in Model.Allpost)
                {

                    if (count == 3)
                    {
                        break;
                    }

                    var photo = "/images/" + post.Photopath;
                    <li>
                        <div class="image-thumb">
                            <a href="#"><img src="@photo" alt=""></a>
                        </div>
                        <div class="post-text">
                            <h4><a href="#">@post.Headline</a></h4>
                            <p>@post.postWriteUp</p>
                            <div class="post-date">
                                <i class="fa fa-clock-o"></i>@post.Date
                            </div>
                            <div class="post-date">
                                <a href="#"><i class="fa fa-comments-o"></i>@post.commentCount</a>
                            </div>
                        </div>
                    </li>
                    count +=1;

                }


            </ul>
        </div>
    </div>
}
@section Categories{
    <div class="widgets-box">
        <div class="sidebar-head"><span>Categories</span></div>
        <div class="sidebar-text">
            <ul class="category">
                <li>
                    <div class="cat-desc">
                        <div class="category-details">
                            <span><a href="#">Entertainment</a></span>
                        </div>
                        <div class="dots"></div>
                        <div class="category-links">
                            <span>(@Model.CatigoryTypeCount.EntertainmentCount)</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cat-desc">
                        <div class="category-details">
                            <span><a href="#">Sports</a></span>
                        </div>
                        <div class="dots"></div>
                        <div class="category-links">
                            <span>(@Model.CatigoryTypeCount.SportNewsCount)</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cat-desc">
                        <div class="category-details">
                            <span><a href="#">Travel</a></span>
                        </div>
                        <div class="dots"></div>
                        <div class="category-links">
                            <span>(@Model.CatigoryTypeCount.TravelNewsCount)</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cat-desc">
                        <div class="category-details">
                            <span><a href="#">Lifestyle</a></span>
                        </div>
                        <div class="dots"></div>
                        <div class="category-links">
                            <span>(@Model.CatigoryTypeCount.LifestyleCount)</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cat-desc">
                        <div class="category-details">
                            <span><a href="#">Jobs</a></span>
                        </div>
                        <div class="dots"></div>
                        <div class="category-links">
                            <span>(@Model.CatigoryTypeCount.JobAlertCount)</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cat-desc">
                        <div class="category-details">
                            <span><a href="#">Movies</a></span>
                        </div>
                        <div class="dots"></div>
                        <div class="category-links">
                            <span>(@Model.CatigoryTypeCount.MoviesNewsCount)</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cat-desc">
                        <div class="category-details">
                            <span><a href="#">Music</a></span>
                        </div>
                        <div class="dots"></div>
                        <div class="category-links">
                            <span>(@Model.CatigoryTypeCount.MusicnewsCount)</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

}