@model TestBlog.ViewModels.RePost
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{var photo = "/images/" + Model.Photopath; }


<div class="blog-post">

    <div class="item-thumbs">
        <img src="@photo" alt="Slider Image">
    </div>
    <h3 class="blog-title text-center"><a href="#">@Model.Headline</a></h3>
    <div class="blog-outer">
        <div class="meta">
            <span><a href="#"><i class="fa fa-tag"></i>@Model.Discription</a></span>
            <span class="date">@Model.Date.ToString("dd/MM/yy hh:mm")</span>

        </div>
        <h3 class="blog-text"><a>@Model.postWriteUp</a></h3>
        <div class="admin-text">
            <p><img src="images/author-thumb.jpg" alt="" class="img-circle"></p>
            <i>By <a href="#">Ruaha Admin</a></i>
        </div>
    </div>
    <div class="blog-text">
        <div class="meta position-absolute">
            <span><a asp-action="SaveLike" asp-controller="Home" asp-route-id="@Model.PostId" data-toggle="tooltip" title="" data-original-title="@Model.likes" class="like-icons"><i class="fa fa-thumbs-up fa-3x"></i></a></span>
            <span><a href="#" data-toggle="tooltip" title="" data-original-title="@Model.Comments.Count()" class="comments-icon"><i class="fa fa-comments-o fa-3x"></i></a></span>
        </div>
    </div>
    <div class="blog-bottom">
        <div class="pull-left ">
            <form asp-controller="Home" asp-action="AddComment" asp-route-id="@Model.PostId" method="post">
                <div class="pull-left">
                    <textarea name="Comment" id="Comment" style="font-family:sans-serif;font-size:1.2em; width:500px" placeholder=" Hey... Wanna say something? "></textarea><input type="submit" value="Comment" class="more-links position-absolute">
                </div>
            </form>
        </div>

        <div class="pull-right"><a asp-action="Index" asp-controller="Home" class="more-links">Back to Home</a></div>
        <div class="clearfix"></div>
    </div>
</div>

