@model TestBlog.ViewModels.postDishOut
@inject SignInManager<TestBlog.Data.myIdentityUser> signINmanager;
@inject UserManager<TestBlog.Data.myIdentityUser> usermanager ;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{var photo = "/images/" + Model.post.Photopath;
    var postersphoto = "/images/" +Model.post.PostersPhotopath;
    var Who = await usermanager.GetUserAsync(User);
    }


<div class="blog-post">

    <div class="item-thumbs">
        <img src="@photo" alt="Slider Image">
    </div>
    <h3 class="blog-title text-center"><a href="#">@Model.post.Headline</a></h3>
    <div class="blog-outer">
        <div class="meta">
            <span><a href="#"><i class="fa fa-tag"></i>@Model.post.Discription</a></span>
            <span class="date">@Model.post.Date.ToString("dd/MM/yy hh:mm")</span>

        </div>
        <h3 class="blog-text"><a>@Model.post.postWriteUp</a></h3>
        <div class="admin-text">
            <p><img src="@postersphoto" alt="images/author-thumb.jpg" class="img-circle" style="height:40px;width:40px"></p>
            <i>By <a href="#">@Model.post.PosterName</a></i>
        </div>
    </div>
    <div class="blog-text">
        <div class="meta position-absolute">
            <span><a asp-action="SaveLike" asp-controller="Home" asp-route-id="@Model.post.PostId" data-toggle="tooltip" title="" data-original-title="@Model.post.LikeCount" class="like-icons"><i class="fa fa-thumbs-up fa-3x"></i></a></span>
            @if (Model.post.comment != null)
            {
                <span>
                    <a href="#" data-toggle="tooltip" title="" data-original-title="@Model.post.comment.Count() " class="comments-icon"><i class="fa fa-comments-o fa-3x more-links"></i></a>
                </span>
            }
            else
            {
                <a href="#" data-toggle="tooltip" title="" data-original-title="0" class="comments-icon"><i class="fa fa-comments-o fa-3x more-links"></i></a>

            }
        </div>
    </div>
    <div class="position-absolute  more-links" style="margin-top-0; height:360px;width:700px;border:1px none;font:16px/26px Georgia, Garamond, Serif;overflow:scroll;">

        @if (Model.post.comment != null)
        {
            foreach (var comment in Model.post.comment)
            {

                <div class="position-absolute  more-links" style="margin-top-0; height:120px;width:700px;border:1px none;font:16px/26px Georgia, Garamond, Serif;overflow:scroll;">
                    @{
                        var picture = "/images/" + comment.CommenterSphotopath;
                    }
                    <div>
                        <p><img src="@picture" alt="" class="img-circle" style="float:left; height:30px;width:40px"></p>
                    </div>
                    <div>
                        <p>@comment.WhoCommented</p>
                        <div>
                            @comment.comments
                        </div>
                        <div class="post-date">
                            <i class="fa fa-clock-o"></i>@comment.DateAndtime
                        </div>

                    </div>
                </div>
            }
        }
        </div>
        <div class="blog-bottom">

            @if (signINmanager.IsSignedIn(User))
            {
                <div class="pull-left ">
                    <form asp-controller="Home" asp-action="AddComment" asp-route-id="@Model.post.PostId" asp-route-Commenter="@Who.Fullname" asp-route-CommenterPhoto="@Who.Photophath" method="post">
                        <div class="pull-left">
                            <textarea name="Comment" id="Comment" style="font-family:sans-serif;font-size:1.2em; width:500px" placeholder=" Hey... Wanna say something? "></textarea><input type="submit" value="Comment" class="more-links position-absolute">
                        </div>
                    </form>
                </div>
            }


            <div class="pull-right"><a asp-action="Index" asp-controller="Home" class="more-links">Back to Home</a></div>
            <div class="clearfix"></div>
        </div>
    </div>
