@model  Post
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var photo = "/images/" + @Model.Photopath;
}

<div class="item ">
    <div class="card">

        <div class="card" style="height: 600px;">
            <img src="@photo" style="height: 600px;" />
        </div>

        <div class="meta text-center">
            <span><a href="#"><i class="fa fa-tag"></i> Interior</a></span>
            <span class="date">@Model.Date.ToString("dd/MM/yy hh:mm")</span>


            <span><a class="like-icons" data-original-title="25" title="" data-toggle="tooltip" href="#"><i class="fa fa-heart-o"></i></a></span>
            <span><a class="comments-icon" data-original-title="12" title="" data-toggle="tooltip" href="#"><i class="fa fa-comments-o"></i></a></span>
        </div>
        <h2 class="blog-title text-center"><a asp-action="Delete" asp-controller="Home" asp-route-id="@Model.PostId">@Model.Headline</a></h2>

        <div class="admin-text text-center">
            <p><img src="images/author-thumb.jpg" alt="" class="img-circle"></p>
            <i>By <a href="#">Admin</a></i>
        </div>

        <div class="blog-text">
            <p><h3>@Model.postWriteUp</h3></p>
        </div>
        <div class="blog-bottom pull-right">
            <div class="pull-right"><a href="#" class="more-links">Read More</a></div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
