@model TestBlog.ViewModels.postDishOut
@inject SignInManager<TestBlog.Data.myIdentityUser> signINmanager;
@inject UserManager<TestBlog.Data.myIdentityUser> userManager;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var post in Model.Manypost)
{

    var photo = "/images/" + post.Photopath;
    var postersphoto = "/images/" + post.PostersPhotopath;
    <div class="blog-post">


        <div class="item-thumbs">
            <img src="@photo" alt="Slider Image">
        </div>


        <h3 class="blog-title text-center"><a href="#">@post.Headline</a></h3>
        <div class="blog-outer">
            <div class="meta">
                <span><a href="#"><i class="fa fa-tag"></i>@post.Discription</a></span>
                <span class="date">@post.Date.ToString("dd/MM/yy hh:mm")</span>

            </div>
            <h3 class="blog-text"><a asp-action="Details" asp-controller="Home" asp-route-id="@post.PostId">@post.postWriteUp</a></h3>
            <div class="admin-text">
                <p><img src="@postersphoto" alt="images/author-thumb.jpg" class="img-circle" style="height:40px;width:40px"></p>
                <i>By <a href="#">@post.PosterName</a></i>
            </div>
        </div>
        <div class="blog-text">

            <div class="meta position-absolute">
                @if (signINmanager.IsSignedIn(User))
                {
                    <span>
                        @{
                            var myUser = await userManager.GetUserAsync(User);
                        }
                        <a asp-action="SaveLike" asp-controller="Home" asp-route-id="@post.PostId" asp-route-likedBy="@myUser.Fullname"
                           data-toggle="tooltip" title="" data-original-title="@post.LikeCount" class="like-icons"><i class="fa fa-thumbs-up fa-3x "></i></a>
                    </span>
                    @if (post.comment != null)
                    {
                        <span>
                            <a href="#" data-toggle="tooltip" title="" data-original-title="@post.commentCount " class="comments-icon bounce"><i class="fa fa-comments-o fa-3x more-links"></i></a>
                        </span>
                    }
                    else
                    {
                        <a href="#" data-toggle="tooltip" title="" data-original-title="0" class="comments-icon bounce"><i class="fa fa-comments-o fa-3x more-links"></i></a>

                    }
                }

                else
                {
                    <span>
                        <a data-toggle="tooltip" title="" data-original-title="@post.LikeCount" class="like-icons"><i class="fa fa-thumbs-up fa-3x "></i></a>
                        <a></a>
                    </span>
                    @if (post.comment != null)
                    {
                        <span>
                            <a href="#" data-toggle="tooltip" title="" data-original-title="@post.commentCount " class="comments-icon bounce"><i class="fa fa-comments-o fa-3x more-links"></i></a>
                        </span>
                    }
                    else
                    {
                        <a href="#" data-toggle="tooltip" title="" data-original-title="0" class="comments-icon bounce"><i class="fa fa-comments-o fa-3x more-links"></i></a>

                    }
                }


            </div>

        </div>

        <div class="blog-bottom">
            <div class="text-danger">Recent Comments  :</div>

            <div class="position-absolute  more-links" style="margin-top-0; height:120px;width:700px;border:hidden;font:16px/26px Georgia, Garamond, Serif;overflow:scroll;">
                @if (post.comment != null)
                {
                    foreach (var comment in post.comment)
                    {
                        var picture = "/images/" + comment.CommenterSphotopath;
                        <div>
                            <div>
                                <p><img src="@picture" alt="" class="img-circle" style="float: left; height:30px; width: 40px"></p>
                            </div>
                            <div>
                                <p>@comment.WhoCommented</p>
                                <div>
                                    @comment.comments
                                </div>
                                <div class="post-date">
                                    <i class="fa fa-clock-o"></i>@comment.DateAndtime
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="pull-right"><a asp-action="Details" asp-controller="Home" asp-route-id="@post.PostId" class="more-links">Read More</a></div>
            <div class="clearfix"></div>
        </div>
    </div>
}
@section RecentPost{
    <div class="widgets-box">
        <div class="sidebar-head bg-2"><span>Recent Posts</span></div>
        <div class="sidebar-text">
            <ul class="sidebar-post">
                @{int count = 1; }
                @foreach (var post in Model.Allpost)
                {

                    if (count == 4)
                    {
                        break;
                    }

                    var photo = "/images/" + post.Photopath;
                    <li>
                        <div class="image-thumb">
                            <a href="#"><img src="@photo" alt=""></a>
                        </div>
                        <div class="post-text">
                            <h4><a href="#">@post.Headline</a></h4>
                            <p>@post.postWriteUp</p>
                            <div class="post-date">
                                <i class="fa fa-clock-o"></i>@post.Date
                            </div>
                            <div class="post-date">
                                <a href="#"><i class="fa fa-comments-o"></i>@post.commentCount</a>
                            </div>
                        </div>
                    </li>

                }


            </ul>
        </div>
    </div>
}
@section Categories{
    <div class="widgets-box">
        <div class="sidebar-head"><span>Categories</span></div>
        <div class="sidebar-text">
            <ul class="category">
                <li>
                    <div class="cat-desc">
                        <div class="category-details">
                            <span><a href="#">Entertainment</a></span>
                        </div>
                        <div class="dots"></div>
                        <div class="category-links">
                            <span>(@Model.CatigoryTypeCount.EntertainmentCount)</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cat-desc">
                        <div class="category-details">
                            <span><a href="#">Sports</a></span>
                        </div>
                        <div class="dots"></div>
                        <div class="category-links">
                            <span>(@Model.CatigoryTypeCount.SportNewsCount)</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cat-desc">
                        <div class="category-details">
                            <span><a href="#">Travel</a></span>
                        </div>
                        <div class="dots"></div>
                        <div class="category-links">
                            <span>(@Model.CatigoryTypeCount.TravelNewsCount)</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cat-desc">
                        <div class="category-details">
                            <span><a href="#">Lifestyle</a></span>
                        </div>
                        <div class="dots"></div>
                        <div class="category-links">
                            <span>(@Model.CatigoryTypeCount.LifestyleCount)</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cat-desc">
                        <div class="category-details">
                            <span><a href="#">Jobs</a></span>
                        </div>
                        <div class="dots"></div>
                        <div class="category-links">
                            <span>(@Model.CatigoryTypeCount.JobAlertCount)</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cat-desc">
                        <div class="category-details">
                            <span><a href="#">Movies</a></span>
                        </div>
                        <div class="dots"></div>
                        <div class="category-links">
                            <span>(@Model.CatigoryTypeCount.MoviesNewsCount)</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cat-desc">
                        <div class="category-details">
                            <span><a href="#">Music</a></span>
                        </div>
                        <div class="dots"></div>
                        <div class="category-links">
                            <span>(@Model.CatigoryTypeCount.MusicnewsCount)</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

}
@section CripytoPrices{
div class="col-sm-4">
<!-- xxx Widet Box xxx -->
<div class="widgets-box">
    <div class="sidebar-head"><span>Current prices</span></div>
    <div class="sidebar-text" style="overflow:scroll">


        <body class="light-blue darken-1">
            <table>
                <tr>
                    <th>#</th>
                    <th>Coin</th>
                    <th>Price</th>
                    <th>Total Volume</th>
                    <th>Market Cap</th>
                </tr>
                @{ 
                    var COUNT = 1;
                }
                @foreach (var coin in Model.Cryptos)
                {
                    if (COUNT.Equals(11))
                    {
                        break;
                    }
                    <tr>
                        <td>@coin.market_cap_rank</td>
                        <td>@coin.name </td>
                        <td>USD @coin.current_price</td>
                        <td>@coin.total_volume</td>
                        <td>@coin.market_cap</td>

                    </tr>
                    COUNT += 1;
                }

            </table>


        </body>


    </div>
</div>
}
